<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	bootstrap="tests/phpunit/bootstrap.php"
	colors="true"
	convertDeprecationsToExceptions="false"
>
	<testsuites>
		<testsuite name="OD Shuffle Block integration tests">
			<directory prefix="test-" suffix=".php">tests/phpunit</directory>
		</testsuite>
	</testsuites>
</phpunit>
